@font-face {
  font-family: "Rubik-Bold";
  src: url("./fonts/Rubik-Bold.woff2") format ("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik-Medium";
  src: url("./fonts/Rubik-Medium.woff2") format ("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.main {
  background-color: #f8f8f8;
}

.body {
  display: flex;
  color: #f8f8f8;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.header {
  border-bottom: 1px solid #d9fff5;
  padding: 24px;
  display: none;
  @media (max-width: 768px) {
    display: block;
    column-gap: 16px;
    padding: 16px;
  }
}

.header__menu {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  @media (max-width: 320px) {
    column-gap: 16px;
  }
}

.header__menu__nav {
  display: flex;
  column-gap: 20px;
  @media (max-width: 320px) {
    column-gap: 16px;
  }
}

.button__burger {
  display: flex;
  column-gap: 20px;
  align-items: center;
  background-color: white;
  border: white;
  @media (max-width: 768px) {
    column-gap: 16px;
  }
}

.button__burger::after {
  content: "";
  right: 0;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}

.header__menu__button {
  display: flex;
  column-gap: 16px;
}

.header__main {
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    display: none;
  }
}

.container__left {
  display: flex;
  margin: 42px 0px 8px 32px;
}

.container__left::before {
  content: "";
  position: absolute;
  left: 0;
  width: 3px;
  height: 40px;
  top: 42px;
  background-color: #41f6d7;
}

.container__right {
  display: flex;
  margin: 42px 32px 8px 0px;
  column-gap: 32px;
}

.btn__checkstatus {
  display: flex;
  background-color: #f8f8f8;
  border: white;
  align-items: center;
  column-gap: 8px;
}

.btn__repair {
  display: flex;
  background-color: #f8f8f8;
  border: white;
  align-items: center;
  column-gap: 8px;
}

.section-actions {
  display: flex;
  flex-wrap: wrap;
  margin-left: 32px;
  @media (max-width: 768px) {
    flex-wrap: nowrap;
    overflow: scroll;
    margin-left: 24px;
  }
}

.section-actions {
  @media (max-width: 320px) {
    flex-wrap: nowrap;
    overflow: scroll;
    margin-left: 16px;
  }
}

.button-brend,
.button-devices,
.button-price,
.button-addresses,
.button-special-prices,
.button-reviews {
  display: flex;
  font-family: "Rubik-Medium";
  font-size: 16px;
  padding: 9px 25px;
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0.3);
  border: #eaeaea;
  flex-shrink: 0;
}

.button-brend {
  border: 2px solid #b8ffec;
  border-radius: 3%;
}

.advantages-foto {
  display: flex;
  justify-content: space-evenly;
  padding-top: 7px;
  @media (max-width: 768px) {
    padding-top: 32px;
    justify-content: space-around;
  }
}

.advantages-foto {
  @media (max-width: 320px) {
    flex-wrap: wrap;
  }
}

.main__paragraph {
  width: 490px;
  font-size: 14px;
  font-family: "Rubik-Medium";
  @media (max-width: 768px) {
    width: 312px;
    height: 160px;
    overflow-y: hidden;
  }
}

.main__paragraph {
  padding-bottom: 16px;
  @media (max-width: 320px) {
    width: 288px;
    height: 85px;
  }
}

.foto {
  width: 531px;
  height: 307px;
  @media (max-width: 768px) {
    width: 360px;
    height: 208px;
  }
}

.foto {
  @media (max-width: 320px) {
    width: 320px;
    height: 176px;
    padding: 16px 0px auto 0px;
  }
}

.full-text::before {
  content: url(./logo/expand.png);
}
.full-text {
  display: flex;
  align-items: center;
  border: #eaeaea;
  background-color: #f8f8f8;
  font-family: "Rubik-Medium";
  font-size: 16px;
  @media (max-width: 320px) {
    padding-bottom: 16px;
  }
}

.paragraph-services {
  display: none;
  @media (max-width: 768px) {
    display: block;
    font-family: "Rubik-Bold";
    font-size: 28px;
    padding: 24px 0px 32px 24px;
  }
}

.header__main__heading {
  font-size: 28px;
  font-family: "Rubik-Bold";
}

.paragraph-services {
  @media (max-width: 320px) {
    padding: 24px 0px 24px 16px;
  }
}

.paragraph-services::before {
  content: "";
  position: absolute;
  left: 0;
  width: 3px;
  height: 40px;
  background-color: #41f6d7;
}

.header__button-tel,
.header__button-chat,
.header__button-profile,
.header__button-repair,
.header__button-checkstatus {
  display: flex;
  align-items: center;
  background-color: white;
  border: white;
}

.button-befor {
  column-gap: 16px;
}

.button-befor::before {
  content: "";
  left: 0;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}

.header__button-tel,
.header__button-chat,
.header__button-profile {
  @media (max-width: 320px) {
    display: none;
  }
}

.full-text:hover {
  border: 2px solid #b8ffec;
}
